.product {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.product-name {
    margin-left: 15px;
    font-weight: 400;
}
.product-name  h3 {
    color: blue;
}
.main-button {
    background-color: goldenrod;
    width: 150px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}